
.reveal .state-background {
  background: #FFFFFF !important;
}
 
/* makes code blocks smaller text */
.reveal pre code {
  font-size: 1.2em;
}

/* leave R code blocks at 1em */
.reveal code.r {
  font-size: 1.5em;
}

.reveal h1 {
  color: #555555 !important;
  text-shadow: none !important;
}

.reveal h2, h3 ,h4 ,h5, h6, p {
  color: #555555 !important;
}

.reveal .slides section .slideContent h3 {
  font-weight: normal;
  font-size: 1.55em;
}

/* stops title hyphenating if too long */
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
}

/* default placement of images is center */
.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.ignore-links a:not(.image) {
  text-decoration: none !important;
  color: black;
}

.ignore-links a:not(.image):hover {
  text-decoration: none !important;
  color: black;
}
