<div class="social">
  <ul class="social-links">

    {{ if .Site.Params.email }}
      <li><a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.linkedin }}
      <li><a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}
    
    {{ if .Site.Params.github }}
      <li><a href="https://github.com/{{ .Site.Params.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
    {{ end }}
    
    {{ if .Site.Params.twitter }}
      <li><a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.stackoverflow }}
      <li><a href="https://stackoverflow.com/{{ .Site.Params.stackoverflow }}" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
    {{ end }}
    
    {{ if .Site.Params.kofi }}
      <li><a href="https://ko-fi.com/{{ .Site.Params.kofi }}" target="_blank"><i class="fa fa-coffee"></i></a></li>
    {{ end }}    
    
  </ul>
</div>
