
/* makes title "section" slides white as well
.reveal .state-background {
  background: #30499B !important;
}
*/

.section .reveal .state-background {
  background: #ffffff !important;
}

.alert .reveal .state-background {
  background: #F9ED3A !important;
} 

.reveal pre {
  margin-top: 30px;
}

/* makes code blocks smaller text */
.reveal pre code {
  font-size: 1em;
  word-break: break-all;
}

/* force R code blocks at .95em */
.reveal code.r {
  font-size: .95em;
}

.reveal sup {
  vertical-align: super;
  font-size: 60% !important;
}

.reveal h1 {
  color: #555555 !important;
  text-shadow: none !important;
}

.reveal h2, h3 ,h4 ,h5, h6, p {
  color: #555555 !important;
}


.reveal .slides section .slideContent h3 {
  font-weight: normal !important;
  font-size: 1.55em !important;
}

.reveal h1 {
  font-size: 2.25em !important;
  margin-top: 200px !important;
}

/* stops title hyphenating if too long */
.reveal h1, .reveal h2, .reveal h3 .reveal p {
  word-wrap: normal;
  -moz-hyphens: none;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid black;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: darkblue;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.55);
}

/* default placement of images is center */
.midcenter {
  position: fixed;
  top: 20%;
}

.ignore-links a:not(.image) {
  text-decoration: none !important;
  color: black;
}

.ignore-links a:not(.image):hover {
  text-decoration: none !important;
  color: black;
}

/* inserts footer */
.footer {
  color: #555555 !important;
  text-align: left !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  padding: 10px !important;
  z-index: 100 !important;
	font-size: 60% !important;
}

.footer2 {
  box-sizing: border-box !important;
  width: 100% !important;
  color: #555555 !important;
  text-align: left !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  padding: 10px !important;
  z-index: 100 !important;
	font-size: 75% !important;
}

blockquote {
  display: block !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #F0F8FF !important;
  border-radius: 15px !important;
  padding: 15px !important;
  border-color: cadetblue !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.reveal p, .reveal table {
  margin-bottom: 10px !important;
}

.reveal sup {
  vertical-align: super;
  font-size: 60% !important;
}

ul li { 
  padding: 5px 0px !important;
}

td {
  vertical-align: middle !important;
}

.attribution {
  color: #555555 !important;
  text-align: left !important;
  width: 100%;
  position: absolute !important; 
  bottom: 0 !important;
  padding: 10px !important;
	font-size: .6em !important;
}

.attribution-link {
  position: absolute; 
  z-index:1000 !important;
}

.reference {
  box-sizing: border-box !important;
  width: 100% !important;
  color: #555555 !important;
  text-align: left !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  padding: 10px !important;
  z-index: 100 !important;
	font-size: 75% !important;
	display: block !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-right: 35px !important;
  background-color: #cadef6 !important;
  padding-top: 8px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 8px !important;
  border-color: #1f63b6 !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.wrapper {
  display: table;
}

.wrapper ul {
  display: table-cell;
  vertical-align: top;
}

.wrapper img {
  margin: 100px !important;
  display: table-cell;
  vertical-align: top;
}

.extra-li-top-pad li {
  padding-top: 20px !important;
}

.code-div {
  white-space: pre !important;
  margin-top: 10px !important;
  max-width: 95% !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
  margin-bottom: 1em !important;
  display: block !important;
  position: relative !important;
  width: 90% !important;
  margin: 15px auto !important;
  text-align: left !important;
  font-family: monospace !important;
  font-size: .7em !important;
  line-height: 1.2em !important;
  word-wrap: break-word !important;
  box-shadow: 0 0 6px rgba(0,0,0,.3) !important;
}

.longer-list li{
 font-size:75% !important;
}

.reveal ol, .reveal ul {
  margin: 0 !important;
}

.reveal .slides section .column {
  position: initial;
  float: left !important;
  width: 50% !important;
}
