{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3>{{ humanize .Title }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ $pag := (.Paginate (where .Data.Pages "Title" "not in" (slice ""))).Pages}}
            {{ range $pag }}
            <ol class="post-list">
              <li class="post-stub">
                  <a href="{{ .Permalink }}">
                    {{ if eq .Section "projects" }}
                    <h5 class="post-stub-title">{{ .Title }} - {{ .Description }}</h5>
                    {{ else }}
                    <h5 class="post-stub-title">{{ .Title }}</h5>
                    {{ end }}
                  </a>
                  <p class="post-stub-description">{{ .Date.Format "January 2, 2006" }}</p>
              </li>
            </ol>
            {{ end }}
            <!-- 
            {{ if eq .Title "Projects" }}
              <br>
              <br>
              {{ partial "kofi-sobstory.html" . }}
              {{ partial "kofi-button.html" . }}
            {{ end }}
            -->
            </div>
          </div>
        <div class="post-navigation">
        {{ partial "pagination.html" . }}
         </div>
      </div>
    </div>
    {{ partial "social" . }}
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
