{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3>{{ humanize .Title }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByDate.Reverse }}
            {{ if .Title }}
            <ol class="post-list">
              <li class="post-stub">
                  <a href="{{ .Permalink }}">
                    <h5 class="post-stub-title">{{ .Title }}</h5>
                  </a>
                  <p class="post-stub-description">{{ .Date.Format "January 2, 2006" }}</p>
              </li>
            </ol>
            {{ end }}
            {{ end }}
            <!-- 
            {{ if eq .Title "Projects" }}
              <br>
              <br>
              {{ partial "kofi-sobstory.html" . }}
              {{ partial "kofi-button.html" . }}
            {{ end }}
            -->
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
