{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      
      {{ if isset .Params "showpagemeta" }}
        {{ .Render "projects" }}
      {{ else }}
      
      <div class="container">
        
        {{ if eq .Title "About" }}
        <h3>{{ humanize .Title }}</h3>
        {{ else }}
        <div class="blog-post">
          <h3>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h3>
        </div>
        {{ end }}
        {{ if eq .Section "blog" }}
        <div class="blog-title">
          <span class="icon">
           <i class="fa fa-pencil" aria-hidden="false"></i>
          </span>
          <span>Published 
            <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">
              {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}
            </time>
          </span>
          <div style="margin-top:5px;">
            <span class="icon">
              <i class="fa fa-clock-o" aria-hidden="false"></i>
            </span>
            <span>
                {{ .ReadingTime }} minute read
            </span>
          </div>
        </div>
        {{ end }}
        
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
              
              {{ if eq .Section "blog" }}
              {{ range first 1 (where (where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                {{ $.Scratch.Set "has_related" true }}
              {{ end }}
              {{ if $.Scratch.Get "has_related" }}
              <hr>
              <div class="related-posts">
                <h5>Related Posts</h5>
                {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
                  <ol class="post-list">
                    <li class="post-stub">
                      <p class="post-stub-description">{{ .Date.Format "January 2, 2006" }}</p>
                        <a href="{{ .Permalink }}">
                          <h5 class="post-stub-title">{{ .Title }}</h5>
                        </a>
                    </li>
                  </ol>
                {{ end }}
              </div>
              {{ end }}
              {{ end }}
            </div>
          </div>
          {{ if eq .Section "blog" }}
          <!-- <hr> -->
          {{ partial "disqus" . }}
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ partial "social" . }}
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
